@model Customer

@{
    ViewData["Title"] = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <h4 class="mb-3">Customer Profile</h4>


            <!-- Change Image Form -->
            <form asp-action="ChangeProfileImage" enctype="multipart/form-data">
                <input type="hidden" name="customerId" value="@Model.CustomerId" />
                <img src="~/CustomerImage/@Model.CustomerImage" style="height:200px;width:200px" />
                <input type="file" name="customerImage" />
                <button type="submit" class="btn btn-primary">Change Image</button>
            </form>

            <hr />

            <!-- Profile Data Form -->
            <form asp-action="CustomerProfile" asp-controller="Customer">

                <!-- IMPORTANT hidden fields -->
                <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" name="CustomerPassword" value="@Model.CustomerPassword" />
                <input type="hidden" name="CustomerImage" value="@Model.CustomerImage" />

                <div class="form-group mb-2">
                    <label>Username</label>
                    <input class="form-control"
                           name="CustomerName"
                           value="@Model.CustomerName" />
                </div>

                <div class="form-group mb-2">
                    <label>Email</label>
                    <input class="form-control"
                           name="CustomerEmail"
                           value="@Model.CustomerEmail" />
                </div>

                <div class="form-group mb-2">
                    <label>Phone</label>
                    <input class="form-control"
                           name="CustomerPhone"
                           value="@Model.CustomerPhone" />
                </div>

                <div class="form-group mb-2">
                    <label>Gender</label>
                    <select class="form-control" name="CustomerGender">
                        <option value="">Select</option>
                        <option value="Male" selected="@(Model.CustomerGender == "Male")">Male</option>
                        <option value="Female" selected="@(Model.CustomerGender == "Female")">Female</option>
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label>Country</label>
                    <input class="form-control"
                           name="CustomerCountry"
                           value="@Model.CustomerCountry" />
                </div>

                <div class="form-group mb-2">
                    <label>City</label>
                    <input class="form-control"
                           name="CustomerCity"
                           value="@Model.CustomerCity" />
                </div>

                <div class="form-group mb-3">
                    <label>Address</label>
                    <textarea class="form-control"
                              name="CustomerAddress">@Model.CustomerAddress</textarea>
                </div>

                <button type="submit" class="btn btn-outline-primary">
                    Edit Profile
                </button>
            </form>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>
