@model List<Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase">All Customers</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.CustomerName</td>
                        <td>@customer.CustomerPhone</td>
                        <td>@customer.CustomerCountry</td>
                        <td>@customer.CustomerCity</td>
                        <td>@customer.CustomerAddress</td>
                        <td>
                            <a asp-action="CustomerDetails" asp-route-id="@customer.CustomerId" class="btn btn-primary btn-sm">Details</a>
                            <a asp-action="UpdateCustomer" asp-route-id="@customer.CustomerId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="DeletePermission" asp-route-id="@customer.CustomerId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>